@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-brand-bg: #0A0B0D;
  --color-brand-surface: #16181D;
  --color-brand-sidebar: #0F1116;
}
